<% content_for :head do %>
  <script type="text/javascript">

  </script>
<% end %>

<div ng-controller="MuniRoutesCtrl">
  <h1>Message: {{message}}</h1>
</div>

<div id='muni-steps'>
  What Muni line do you leave from?

  <br />

  <%= select("Route", "route_id", Route.all.collect{ |r| [r.tag, r.title]}) %>

  <br />

  <button type="button" class="btn btn-large btn-primary" id="next-button" name="next-button">Next</button>
</div>